{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "plugin:vue/essential",
    "eslint:recommended",
    "airbnb-base"
  ],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "rules": {
    "no-shadow": ["error", { "allow": ["state"]}],
    "no-param-reassign": ["error", {
      "props": true,
      "ignorePropertyModificationsFor": ["Vue"]
    }],
    "no-debugger": ["warn"]
  }
}
