$color-text-black: #303133;
$color-text-blue: #409EFF;
$color-text-red: #F56C6C;
$color-text-white: #fff;
$color-border-gray: #e6e6e6;

$color-brand-paypal: #00457C;

$tablet-min-width: 768px;
$desktop-min-width: 992px;
